<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="SampleConnectionString" connectionString="Data Source=MOMERUL-PC\SQLEXPRESS;Initial Catalog=Sample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SampleConnectionString2" connectionString="Data Source=MOMERUL-PC\SQLEXPRESS;Initial Catalog=Sample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SampleConnectionString3" connectionString="Data Source=MOMERUL-PC\SQLEXPRESS;Initial Catalog=Sample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SampleConnectionString4" connectionString="Data Source=MOMERUL-PC;Initial Catalog=Sample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
